* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background-image: url('../img/ebac.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    font-family: Arial, sans-serif;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    width: 100%;
}

.form {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 32px;
    width: 350px;
}

.form__title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.form__input {
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    display: block;
    height: 30px;
    margin: 10px auto;
    padding: 5px;
    width: 100%;
}

.form__submit {
    background-color: #4CAF50;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-weight: bold;
    height: 30px;
    margin: 10px auto;
    margin-top: 24px;
    padding: 5px;
    transition: 0.3s;
    width: 100%;
}

.form__submit:hover {
    background-color: #45A049;
}